body {
    background-color: white;
  }
  h1 {
    color: forestgreen !important;
    margin-top: 25px;
  }
  h2 {
    color: steelblue;
    margin-top: 25px;
  }
  h3 {
    color: steelblue;
    margin-top: 25px;
  }
  h4 {
    color: steelblue;
    margin-top: 25px;
  }
  p {
    color: black;
  }