@media screen and (max-width: 768px) {
/* Showcase */
#fieldhub-app #showcase {
  height: 100%;
}

#fieldhub-app #showcase .showcase-content {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* Home Info */
/*
#home-info {
  height: 550px;
}

#home-info .info-img {
  display: none;
}

#home-info .info-content {
  float: none;
  width: 100%;
}
*/
/* Boxes */
#fieldhub-app .box {
  float: none;
  width: 100%;
}
}
