/* Showcase */
#showcase {
  height: 100%;
}

#showcase .showcase-content {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* Home Info */
/*
#home-info {
  height: 550px;
}

#home-info .info-img {
  display: none;
}

#home-info .info-content {
  float: none;
  width: 100%;
}
*/
/* Boxes */
.box {
  float: none;
  width: 100%;
}