* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: auto;
}

html,body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2em;
  font-size: 14px;
  line-height: 1.42857143;
  color: #2c3e50;
  background-color: #ffffff;
}

body::-webkit-scrollbar {
  display: none;
}

.nav a {
    font-size: 1.0em !important;
}

.navbar {
  margin-bottom: 0;
  padding: 0;
}

li a {
  font-size: 20px;
}

.container {
  margin: auto;
  max-width: 1200px;
  padding: 0 20px;
}

h1, h2, h3 {
  padding-bottom: 10px;
}

p {
  margin: 10px 0;
}

.p-box {
  font-size: 16px;
}

.text-primary1 {
  color: #ffc72a;
  background: rgba(156, 137, 132, 0.55);
  font-size: 88px;
  font-weight: bold;
}

.text-primary2 {
  color: #0a5640;
  background: rgba(156, 137, 132, 0.55);
  font-size: 88px;
  font-weight: bold;
}

.welcome-primary {
  font-size: 28px;
  font-weight: bold;
}

#text-primary {
  color:#ffc72a;
  font-weight: bold;
}

#text-primary1 {
  color:#ffc72a;
}

#text-primary2 {
  color:#0a5640;
}

.tittle-FielDHub {
  color:#ffc72a;
  font-weight: bold;
}

.lead {
  font-size: 20px;
  font-weight: bold;
}

.btn {
  display: inline-block;
  height: 36px;
  font-size: 14px;
  font-weight: bold;
  color: #474747;
  background: #95a5a6;
  /*padding: 13px 20px;*/
  padding: 6px 12px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #18bc9c;
  color: #343a40;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #444;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-primary {
  background: #f7c08a;
  color: #333;
}

.clr {
  clear: both;
}

/* Showcase */
#showcase {
  background: url('baner46.jpg') no-repeat center center/cover;
  /*background: url('golden.jpg') no-repeat center center/cover;*/
  height: 550px;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 210px;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* Features */
.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align:center;
}

.box i {
  margin-bottom: 10px;
}

/* Home Info */
#home-info {
  height: 450px;
}

#home-info .info-img {
  float: left;
  width: 50%;
  background: url('drone1.jpg') no-repeat;
  /*background: url('wheatharvest_ndsu.jpg') no-repeat;*/
  
  min-height: 100%;
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 30px 30px;
  overflow: hidden;
}

#home-info .info-content p {
  padding-bottom: 30px;
  padding-top: 10px;
}

/* About Us*/

.ABC {
  background-color: #edebeb;
}    

.section-tittle {
  margin-left: 150px;
  margin-right: 100px;
}

.aboutUs-p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6em;
}

.profile-p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding-top: 10;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-row-gap: 5px;
  grid-template-columns: 29% 29% 29%;
  grid-template-rows: auto auto auto;
  background-color: #edebeb;
  padding: 1px;
  padding-bottom: 50px;
}

.grid-container1 {
  display: grid;
  justify-content: center;
  grid-row-gap: 5px;
  grid-template-columns: 40% 35%;
  grid-template-rows: auto auto;
  background-color: #edebeb;
  padding: 1px;
  padding-bottom: 50px;
}

.grid-item {
  padding: 20px;
  font-size: 16px;
  text-align:left;
  padding-bottom: 5px;
}

.circular--portrait {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}
                              
.circular--portrait img {
  width: 100%;
  height: auto;
}

/* footer */
.container-fluid {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  font-size: 16px;
}
  
#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
}

.selectize-input {
  height: 36px;
  font-size: 13px;
  display: flex;
  /*border: none;*/
  border: 1px solid rgb(226, 224, 224);
}

input[type=text], input[type=number] {
  width: 100%;
  height: 36px;
  font-size: 13px;
  padding: 6px 12px;
  box-sizing: border-box;
  border: 1px solid rgb(226, 224, 224);
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ecf0f1;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
  margin-left: 10px;
}

/* * {
    box-sizing: border-box;
} */
.content-help {
  /* float: left;
  max-width: 75%;
  margin: auto;
  padding-left: 180px; */
  display: grid;
  justify-content: center;
  grid-row-gap: 5px;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto;
  background-color: #edebeb;
  padding: 1px;
  padding-bottom: 50px;
}
.column1 {
  float: left;
  width: 60%;
  padding: 10px;
}
.column2 {
  float: right;
  width: 40%;
  padding: 15px;
}
